<div class="card-group mt-3 mt-5">

  {%- comment -%} Default Styles {%- endcomment -%}
  {%- assign card_style = '' -%}
  {%- assign text_style = 'text-themed' -%}
  {%- assign badge_style = 'badge-dark' -%}

  {%- comment -%} Update Styles {%- endcomment -%}
  {%- if post.style == 'fill' -%}
  {%- assign card_style = post.color | prepend: 'bg-' -%}
  {%- if post.color != 'light' -%}
  {%- assign text_style = 'text-white' -%}
  {%- assign badge_style = 'badge-light text-' -%}
  {%- assign badge_style = badge_style | append: post.color -%}
  {%- endif -%}
  {%- else -%}
  {%- assign card_style = post.color | prepend: 'border border-' -%}
  {%- if post.color -%}
  {%- assign badge_style = post.color | prepend: 'badge-' -%}
  {%- endif -%}
  {%- endif -%}

  {%- comment -%} Determine Post URL {%- endcomment -%}
  {%- if post.external_url -%}
  {%- assign post_url = post.external_url -%}
  {%- else -%}
  {%- assign post_url = post.url | relative_url -%}
  {%- endif -%}


  {% for post in site.posts %}
  {% include blog/post-card.html %}
  {% endfor %}

</div>